@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

/* This CSS configuration follows the BEM naming convention. */

*{
  background-color:rgb(115, 9, 20);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 3360px){
  .header {
    color: white;
    font-family: 'Limelight', sans-serif;
    text-align: center;
    font-size: 62pt;
    margin-top: 4px;
    text-shadow:
        6px 4px 2px #000,
      -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
        1px 1px 0 #000;
    cursor: pointer;
  }
  .main {
    margin-bottom: -5px;
    margin: 15px auto;
    border: 4px solid black;
    padding: 5px;
    border-radius: 30px;
    background-color: white;
    max-width: 1150px;
    min-width: 1150px;
    min-height: 700px;
    max-height: 700px;
    overflow: auto;
  }
  .main__header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 15px;
    background-color: white;
  }
  .main__select-box{
    display: inline-block;
    background: #000;
    color: #fff;
    border: none;
    padding: 15px 10px;
    margin: 0px;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Poiret One', sans-serif;
    border-color: black;
  }
  .main__select-box--option{
    margin: 15px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
    font-family: 'Poiret One', sans-serif;
  }
  .main__watch-list-button{
    display: inline-block;
    background: steelblue;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 15px; 
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
    font-family: inherit;
    font-weight: bolder;
    font-family: 'Poiret One', sans-serif;
    border-color: black;
    border: 2.00px solid black;
  }
  .main__add-to-watch-list{
    background-color: white;
  }
  .main__add-to-watch-list-button{
    display: inline-block;
    background: darksalmon;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 15px; 
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
    font-family: inherit;
    border-color: black;
    border: 2.00px solid black;
    font-weight: bolder;
    font-family: 'Poiret One', sans-serif;
    
  }
  .main__search-button{
    display: inline-block;
    background: green;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
    font-family: inherit;
    font-weight: bolder;
    font-family: 'Poiret One', sans-serif;
    border-color: black;
    border: 2.00px solid black;
  }
  .main__delete-button--user{
    color: white;
    background-color: darkorange;
    padding: 10px 15px;
    border-radius: 15px;
    border-color: black;
    border: 2.00px solid black;
    font-weight: bolder;
    font-family: 'Poiret One', sans-serif;
    font-size: 25px;
    cursor: pointer;
  }
  .main__delete-button--movie{
    color: white;
    background-color: darkorange;
    padding: 10px 15px;
    border-radius: 15px;
    border-color: black;
    border: 2.00px solid black;
    font-weight: bolder;
    font-family: 'Poiret One', sans-serif;
    font-size: 25px;
    cursor: pointer;
  }
  .main__watch-list{
    background-color: white;
    padding: 15px;
    padding-left: 40px;
    list-style: none;
  }
  .main__watch-list--item{
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 34px;
    padding: 5px;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
  }
  .main__body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
    margin-top: -10px;
    background-color: white;
    padding: 5px;
    max-height: 700px;
    max-width: 1200px;
    border: none;
  }
  .main__body-left{
    font-family: 'Poppins', sans-serif;
    max-width: 620px;
    max-height: 465px;
    min-width: 620px;
    min-height: 465px;
    padding-left: 15px;
    margin-top: -10px;
    margin-bottom: 15px;
    background-color: white;
  }
  .main__body-left--title{
    background-color: white;
    font-size: 36pt;
    font-weight: bold;
    font-style: italic;
  }
  .main__body-left--creator {
    background-color: white;
    font-style: bold;
    font-size: 14pt;
  }
  .main__body-left--date {
    background-color: white;
    font-size: 24pt;
    font-weight: bold;
  }
  .main__body-left--description {
    font-size: 16pt;
    padding: 0em 0em 1em 0em;
    background-color: white;
  }
  .main__body-left--genre{
    font-size: 14pt;
    background-color: white;
  }
  .main__body-right{
    background-color: white;
    max-height: 500px;
    max-width: 350px;
    min-height: 500px;
    min-width: 350px;
    margin-top: 20px;
    border: none;
  }
  .main__body-right--image{
    max-height: inherit;
    background-color: white;
    width: inherit;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 416px){
  .container{
    padding: 0em 0em 0em 0em;
    box-sizing: none !important;
    display: flex;
    flex-direction: column;
  }

  .header {
    color: white;
    font-family: 'Limelight', sans-serif;
    text-align: center;
    font-size: 3em;
    text-shadow:
        6px 4px 2px #000,
      -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
        1px 1px 0 #000;
    cursor: pointer;
    margin: .1em 0em 0em .3em;
  }
  .main {
    margin-bottom: -5px;
    margin: 15px auto;
    border: 4px solid black;
    padding: 0em;
    border-radius: 3em;
    background-color: white;
    max-width: 410px;
    min-width: 410px;
    min-height: 890px;
    max-height: 890px;
    display: flex;
    flex-direction: column;
  }
  .main__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0em 0em 0em 0em;
    padding: 1em 1em 1em 1em;
    align-items: center;
    gap: .5em;
    background-color: white;
  }
  .main__select-box{
    display: inline-block;
    background: #000;
    color: #fff;
    border: none;
    padding: .6em .1em;
    margin: 0px;
    border-radius: 1em;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bolder;
    font-family: 'Poiret One', sans-serif;
    border-color: black;
  }
  .main__select-box--option{
    margin: 15px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
    font-family: 'Poiret One', sans-serif;
  }
  .main__watch-list-button{
    display: inline-block;
    background: steelblue;
    color: #fff;
    border: none;
    padding: .6em .1em;
    border-radius: 1em; 
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2em;
    font-family: inherit;
    font-weight: bolder;
    font-family: 'Poiret One', sans-serif;
    border-color: black;
    border: 2.00px solid black;
  }
  .main__add-to-watch-list{
    background-color: white;
  }
  .main__add-to-watch-list-button{
    display: inline-block;
    background: darksalmon;
    color: #fff;
    border: none;
    padding: .6em .1em;
    border-radius: 1en; 
    cursor: pointer;
    text-decoration: none;
    font-size: 1.25em;
    font-family: inherit;
    border-color: black;
    border: 2.00px solid black;
    font-weight: bolder;
    font-family: 'Poiret One', sans-serif;
  }
  .main__search-button{
    display: inline-block;
    background: green;
    color: #fff;
    border: none;
    padding: .6em .1em;
    border-radius: 1em;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.25em;
    font-family: inherit;
    font-weight: bolder;
    font-family: 'Poiret One', sans-serif;
    border-color: black;
    border: 2.00px solid black;
  }
  .main__delete-button--user{
    color: white;
    background-color: darkorange;
    padding: .6em .1em;
    border-radius: 15px;
    border-color: black;
    border: 2.00px solid black;
    font-weight: bolder;
    font-family: 'Poiret One', sans-serif;
    font-size: 1.25em;
    cursor: pointer;
  }
  
  .main__delete-button--movie{
    color: white;
    background-color: darkorange;
    padding: .6em .1em;
    border-radius: 15px;
    border-color: black;
    border: 2.00px solid black;
    font-weight: bolder;
    font-family: 'Poiret One', sans-serif;
    font-size: 1.25em;
    cursor: pointer;
  }
  .main__watch-list{
    background-color: white;
    padding: 15px;
    padding-left: 40px;
    list-style: none;
  }
  .main__watch-list--item{
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 34px;
    padding: 5px;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
  }
  .main__body-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 0;
    overflow: auto;
  }
  .main__body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em 0em 0em 0em;
    padding: 0em 1em 0em 1em;
    background-color: white;
    max-height: fit-content;
    max-width: 400px;
    min-width: 0px;
    min-height: 0px;
    flex-shrink: 0;
    border: none;
  }
  .main__body-left{
    font-family: 'Poppins', sans-serif;
    max-height: fit-content;
    max-width: 345px;
    min-width: 0px;
    min-height: 0px;
    padding: 0em 0em 0em 0em;
    margin: 0em 0em 0em 0em;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }
  .main__body-left--title{
    background-color: white;
    font-size: 1.75em;
    font-weight: bold;
    font-style: italic;
  }
  .main__body-left--creator {
    background-color: white;
    font-style: bold;
    font-size: 1em;
  }
  .main__body-left--date {
    background-color: white;
    font-size: 1.4em;
    font-weight: bold;
  }
  .main__body-left--description {
    font-size: 1.0em;
    background-color: white;
    padding: 0em 0em 1em 0;
  }
  .main__body-left--genre{
    font-size: 1em;
    background-color: white;
  }
  .main__body-right{
    background-color: white;
    max-height: 300px;
    min-height: 0px;
    min-width: 0px;
    max-width: fit-content;
    margin: 1em 0em 1em 0em;
    border: none;
    background-size: auto;
    position: relative !important;
    display: flex;
    justify-content: center;
  }
  .main__body-right--image{
    background-color: white;
    max-height: 300px;
    min-height: 300px;
    min-width: auto;
    max-width: auto;
    background-size: auto;
    overflow: hidden;
    margin: 0em 0em 0em 0em !important;
    margin-top: 0em;
  }
  .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
    margin-left: 75px;
    font-family: 'Poppins', sans-serif;
    text-shadow:
    2.5px 2.5px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
    color: white;
    gap: 0em;
    padding: 0em;
    margin: 0em 0em 0em 0em
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -4em;
  margin-left: 75px;
  font-family: 'Poppins', sans-serif;
  text-shadow:
  2.5px 2.5px 0 #000,
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
  color: white;
  gap: 1em;
  margin: .25em 0em 1em 0em;
}

.footer__footer-image--image{
  max-width: 125px;
  max-height: 125px;
  margin-top: 10px;
}






